.count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 20px;

}


.summary {

    text-align: center;
    background-color: #605ac2;
    padding: 30px;
    border-radius: 20px;
    color: aliceblue;
}


@media screen and (max-width:500px) {

    .count {

        grid-template-columns: repeat(1, 1fr);

    }
}